body{
    background-color: #fffdfc; /*This is the baxkground colour for the main parts. (The body) */   
margin: 0px; 

}
main{
margin: 5px;

}
h1{
margin-top: 50px;
text-align: center;
font-size: 70px;
background-color: rgb(255, 231, 240);  /*Changes the background area for just this space (The title area) */
padding-top:50px;
padding-bottom:50px;
}



.navbar{
position: fixed;
top: 0;
left: 0;
width: 100%;

}

.navbar a:hover {
background-color: rgba(255, 95, 164, 0.327); /* This is what changes when you hover over it */

}


.navbar ul{
list-style-type: none;
background-color: rgb(0, 0, 0);
padding: 0px;
margin: 0px;
overflow: hidden;
padding-bottom: 0px;
}
.navbar a{
color:rgb(255, 255, 255);
text-decoration: none;
padding: 15px;
display:block;
text-align: center;
}
.navbar li{
float:left;
}

.FunFacts {
    background-color: rgb(255, 238, 255)
}

.Quiz {
    background-color: #fcecff;

}

.TopArtists {
    background-color: rgb(255, 248, 248);
}

.homeimages {
    padding: 30px
}
